{% extends 'base.html' %}

{% block main %}
	<!-- main body - start
	================================================== -->
	<main>


		<!-- mobile menu - start
		================================================== -->
		<div class="sidebar-menu-wrapper">
			<div class="mobile_sidebar_menu">
				<button type="button" class="close_btn"><i class="fal fa-times"></i></button>

				<div class="about_content mb_60">
					<div class="brand_logo mb_15">
						<a href="index.html">
							<img src="assets/images/logo/logo_01_1x.png" srcset="assets/images/logo/logo_01_2x.png 2x" alt="logo_not_found">
						</a>
					</div>
					<p class="mb-0">
						Nullam id dolor auctor, dignissim magna eu, mattis ante. Pellentesque tincidunt, elit a facilisis efficitur, nunc nisi scelerisque enim, rhoncus malesuada est velit a nulla. Cras porta mi vitae dolor tristique euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit
					</p>
				</div>

				<div class="menu_list mb_60 clearfix">
					<h3 class="title_text text-white">Menu List</h3>
					<ul class="ul_li_block clearfix">
						<li class="active dropdown">
							<a href="#!" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
							<ul class="dropdown-menu">
								<li><a href="index_1.html">Home Page V.1</a></li>
								<li><a href="index_2.html">Home Page V.2</a></li>
							</ul>
						</li>
						<li><a href="gallery.html">Our Cars</a></li>
						<li><a href="review.html">Reviews</a></li>
						<li><a href="about.html">About</a></li>
						<li class="dropdown">
							<a href="#!" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
							<ul class="dropdown-menu">
								<li><a href="service.html">Our Service</a></li>
								<li><a href="gallery.html">Car Gallery</a></li>
								<li><a href="account.html">My Account</a></li>
								<li><a href="reservation.html">Reservation</a></li>
								<li class="dropdown">
									<a href="#!" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blogs</a>
									<ul class="dropdown-menu">
										<li><a href="blog.html">Blog</a></li>
										<li><a href="blog_details.html">Blog Details</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#!" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Cars</a>
									<ul class="dropdown-menu">
										<li><a href="car.html">Cars</a></li>
										<li><a href="car_details.html">Car Details</a></li>
									</ul>
								</li>
								<li><a href="cart.html">Shopping Cart</a></li>
								<li><a href="faq.html">F.A.Q.</a></li>
								<li><a href="login.html">Login</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#!" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact Us</a>
							<ul class="dropdown-menu">
								<li><a href="contact.html">Contact Default</a></li>
								<li><a href="contact_wordwide.html">Contact Wordwide</a></li>
							</ul>
						</li>
					</ul>
				</div>

				<div class="booking_car_form">
					<h3 class="title_text text-white mb-2">Book A Car</h3>
					<p class="mb_15">
						Nullam id dolor auctor, dignissim magna eu, mattis ante. Pellentesque tincidunt, elit a facilisis efficitur.
					</p>
					<form action="#">
						<div class="form_item">
							<h4 class="input_title text-white">Pick Up Location</h4>
							<div class="position-relative">
								<input id="location_one" type="text" name="location" placeholder="City, State or Airport Code">
								<label for="location_one" class="input_icon"><i class="fas fa-map-marker-alt"></i></label>
							</div>
						</div>
						<div class="form_item">
							<h4 class="input_title text-white">Pick A Date</h4>
							<input type="date" name="date">
						</div>
						<button type="submit" class="custom_btn bg_default_red btn_width text-uppercase">Book A Car <img src="assets/images/icons/icon_01.png" alt="icon_not_found"></button>
					</form>
				</div>

			</div>
			<div class="overlay"></div>
		</div>
		<!-- mobile menu - end
		================================================== -->


		<!-- breadcrumb_section - start
		================================================== -->
		<section class="breadcrumb_section text-center clearfix">
			<div class="page_title_area has_overlay d-flex align-items-center clearfix" data-bg-image="assets/images/breadcrumb/bg_10.jpg">
				<div class="overlay"></div>
				<div class="container" data-aos="fade-up" data-aos-delay="100">
					<h1 class="page_title text-white mb-0">My Account</h1>
				</div>
			</div>
			<div class="breadcrumb_nav clearfix" data-bg-color="#F2F2F2">
				<div class="container">
					<ul class="ul_li clearfix">
						<li><a href="index.html">Home</a></li>
						<li>Account</li>
					</ul>
				</div>
			</div>
		</section>
		<!-- breadcrumb_section - end
		================================================== -->


		<!-- account_section - start
		================================================== -->
		<section class="account_section sec_ptb_100 clearfix">
			<div class="container">
				<div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">

					<div class="col-lg-4 col-md-8 col-sm-10 col-xs-12">
						<div class="account_tabs_menu clearfix" data-bg-color="#F2F2F2" data-aos="fade-up" data-aos-delay="100">
							<h3 class="list_title mb_15">Account Details:</h3>
							<ul class="ul_li_block nav" role="tablist">
								<li>
									<a class="active" data-toggle="tab" href="#admin_tab"><i class="fas fa-user"></i> John Doe</a>
								</li>
								<li>
									<a href="login.html"><i class="fas fa-sign-out-alt"></i> Log Out <img class="arrow" src="assets/images/icons/icon_02.png" alt="icon_not_found"></a>
								</li>
								<li>
									<a data-toggle="tab" href="#profile_tab"><i class="fas fa-address-book"></i> Booking Profiles</a>
								</li>
								<li>
									<a data-toggle="tab" href="#history_tab"><i class="fas fa-file-alt"></i> Booking History</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
						<div class="account_tab_content tab-content">
							<div id="admin_tab" class="tab-pane active">
								<div class="account_info_list" data-aos="fade-up" data-aos-delay="100">
									<h3 class="list_title mb_30">Account:</h3>
									<ul class="ul_li_block clearfix">
										<li><span>Name:</span> Rakibul Islam Dewan</li>
										<li><span>E-mail:</span> myname@email.com</li>
										<li><span>Phone Number:</span> +1-202-555-0104</li>
										<li><span>Country:</span> United States</li>
										<li><span>Address:</span> 60 Stonybrook Lane Atlanta, GA 30303</li>
									</ul>
									<a class="text_btn text-uppercase" href="#!"><span>Change Account Information</span> <img src="assets/images/icons/icon_02.png" alt="icon_not_found"></a>
								</div>

								<div class="account_info_list" data-aos="fade-up" data-aos-delay="300">
									<h3 class="list_title mb_30">Booking Profiles:</h3>
									<ul class="ul_li_block clearfix">
										<li><span>Profile ID:</span> 1234557jt</li>
										<li><span>Payment Method:</span> Visa Credit Card</li>
										<li><span>Phone Number:</span> +1-202-555-0104</li>
									</ul>
								</div>

								<div class="account_info_list" data-aos="fade-up" data-aos-delay="500">
									<h3 class="list_title mb_30">Booking History:</h3>
									<ul class="ul_li_block clearfix">
										<li><span>Upcoming Reservations:</span> No Reservations Yet</li>
										<li><span>Past Rentals:</span> 0</li>
									</ul>
									<a class="text_btn text-uppercase" href="#!"><span>Book A Car</span> <img src="assets/images/icons/icon_02.png" alt="icon_not_found"></a>
								</div>
							</div>

							<div id="profile_tab" class="tab-pane fade">
								<div class="account_info_list" data-aos="fade-up" data-aos-delay="100">
									<h3 class="list_title mb_30">Booking Profiles:</h3>
									<ul class="ul_li_block clearfix">
										<li><span>Profile ID:</span> 1234557jt</li>
										<li><span>Payment Method:</span> Visa Credit Card</li>
										<li><span>Phone Number:</span> +1-202-555-0104</li>
									</ul>
								</div>

								<div class="account_info_list" data-aos="fade-up" data-aos-delay="300">
									<h3 class="list_title mb_30">Booking History:</h3>
									<ul class="ul_li_block clearfix">
										<li><span>Upcoming Reservations:</span> No Reservations Yet</li>
										<li><span>Past Rentals:</span> 0</li>
									</ul>
									<a class="text_btn text-uppercase" href="#!"><span>Book A Car</span> <img src="assets/images/icons/icon_02.png" alt="icon_not_found"></a>
								</div>

								<div class="account_info_list" data-aos="fade-up" data-aos-delay="500">
									<h3 class="list_title mb_30">Account:</h3>
									<ul class="ul_li_block clearfix">
										<li><span>Name:</span> Rakibul Islam Dewan</li>
										<li><span>E-mail:</span> myname@email.com</li>
										<li><span>Phone Number:</span> +1-202-555-0104</li>
										<li><span>Country:</span> United States</li>
										<li><span>Address:</span> 60 Stonybrook Lane Atlanta, GA 30303</li>
									</ul>
									<a class="text_btn text-uppercase" href="#!"><span>Change Account Information</span> <img src="assets/images/icons/icon_02.png" alt="icon_not_found"></a>
								</div>
							</div>

							<div id="history_tab" class="tab-pane fade">
								<div class="account_info_list" data-aos="fade-up" data-aos-delay="100">
									<h3 class="list_title mb_30">Booking History:</h3>
									<ul class="ul_li_block clearfix">
										<li><span>Upcoming Reservations:</span> No Reservations Yet</li>
										<li><span>Past Rentals:</span> 0</li>
									</ul>
									<a class="text_btn text-uppercase" href="#!"><span>Book A Car</span> <img src="assets/images/icons/icon_02.png" alt="icon_not_found"></a>
								</div>

								<div class="account_info_list" data-aos="fade-up" data-aos-delay="300">
									<h3 class="list_title mb_30">Booking Profiles:</h3>
									<ul class="ul_li_block clearfix">
										<li><span>Profile ID:</span> 1234557jt</li>
										<li><span>Payment Method:</span> Visa Credit Card</li>
										<li><span>Phone Number:</span> +1-202-555-0104</li>
									</ul>
								</div>

								<div class="account_info_list" data-aos="fade-up" data-aos-delay="500">
									<h3 class="list_title mb_30">Account:</h3>
									<ul class="ul_li_block clearfix">
										<li><span>Name:</span> Rakibul Islam Dewan</li>
										<li><span>E-mail:</span> myname@email.com</li>
										<li><span>Phone Number:</span> +1-202-555-0104</li>
										<li><span>Country:</span> United States</li>
										<li><span>Address:</span> 60 Stonybrook Lane Atlanta, GA 30303</li>
									</ul>
									<a class="text_btn text-uppercase" href="#!"><span>Change Account Information</span> <img src="assets/images/icons/icon_02.png" alt="icon_not_found"></a>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<!-- account_section - end
		================================================== -->


	</main>
	<!-- main body - end
	================================================== -->
{% endblock main %}