{% extends 'base.html' %}
{% load static %}

{% block main %}
	<!-- main body - start
	================================================== -->
	<main>

		<!-- breadcrumb_section - start
		================================================== -->
		<section class="breadcrumb_section text-center clearfix">
			<div class="page_title_area has_overlay d-flex align-items-center clearfix" data-bg-image="{% static 'assets/images/breadcrumb/bg_02.jpg' %}">
				<div class="overlay"></div>
				<div class="container" data-aos="fade-up" data-aos-delay="100">
					<h1 class="page_title text-white mb-0">Choose Your Car Options</h1>
				</div>
			</div>
			<div class="breadcrumb_nav clearfix" data-bg-color="#F2F2F2">
				<div class="container">
					<ul class="ul_li clearfix">
						<li><a href="index.html">Home</a></li>
						<li><a href="car.html">Our Cars</a></li>
						<li>Car Details</li>
					</ul>
				</div>
			</div>
		</section>
		<!-- breadcrumb_section - end
		================================================== -->


		<!-- details_section - start
		================================================== -->
		<div class="details_section sec_ptb_100 pb-0 clearfix">
			<div class="container">
				<div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">

					<div class="col-lg-4 col-md-8 col-sm-10 col-xs-12">
						<aside class="filter_sidebar sidebar_section" data-bg-color="#F2F2F2">
							<div class="sidebar_header" data-bg-gradient="linear-gradient(90deg, #0C0C0F, #292D45)">
								<h3 class="text-white mb-0">Filters</h3>
							</div>
							<div class="sb_widget">
								<form action="#">
									<div class="sb_widget price-range-area clearfix" data-aos="fade-up" data-aos-delay="100">
										<h4 class="input_title">Price</h4>
										<div id="slider-range" class="slider-range clearfix"></div>
										<input class="price-text" type="text" id="amount" readonly>
									</div>

									<div class="sb_widget car_picking" data-aos="fade-up" data-aos-delay="100">
										<div class="form_item">
											<h4 class="input_title">Pick Up Location</h4>
											<div class="position-relative">
												<input id="location_two" type="text" name="location" placeholder="City, State or Airport Code">
												<label for="location_two" class="input_icon"><i class="fas fa-map-marker-alt"></i></label>
											</div>
										</div>

										<div class="form_item">
											<h4 class="input_title">Pick A Date</h4>
											<input type="date" name="date">
										</div>
									</div>

									<div class="sb_widget" data-aos="fade-up" data-aos-delay="100">
										<div class="checkbox_input">
											<label for="return_checkbox"><input type="checkbox" id="return_checkbox"> Return car to a different location</label>
										</div>
									</div>

									<div class="sb_widget" data-aos="fade-up" data-aos-delay="100">
										<h4 class="input_title">Number of passengers:</h4>
										<div class="row">
											<div class="col-lg-6">
												<div class="checkbox_input">
													<label for="passengers_radio1"><input type="radio" id="passengers_radio1" name="passengers" checked> 2</label>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="checkbox_input">
													<label for="passengers_radio2"><input type="radio" id="passengers_radio2" name="passengers"> 5</label>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="checkbox_input">
													<label for="passengers_radio3"><input type="radio" id="passengers_radio3" name="passengers"> 4</label>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="checkbox_input">
													<label for="passengers_radio4"><input type="radio" id="passengers_radio4" name="passengers"> 7 or more</label>
												</div>
											</div>
										</div>
									</div>

									<div class="sb_widget" data-aos="fade-up" data-aos-delay="100">
										<div class="form_item">
											<select>
												<option data-display="Gearbox type">Select A Option</option>
												<option value="1">Option 1</option>
												<option value="2">Option 2</option>
												<option value="3" disabled>Option 3</option>
												<option value="4">Option 4</option>
											</select>
										</div>

										<div class="form_item">
											<select>
												<option data-display="Fuel type">Select A Option</option>
												<option value="1">Option 1</option>
												<option value="2">Option 2</option>
												<option value="3" disabled>Option 3</option>
												<option value="4">Option 4</option>
											</select>
										</div>

										<div class="form_item">
											<select>
												<option data-display="Luggage space options">Select A Option</option>
												<option value="1">Option 1</option>
												<option value="2">Option 2</option>
												<option value="3" disabled>Option 3</option>
												<option value="4">Option 4</option>
											</select>
										</div>

										<div class="form_item">
											<select>
												<option data-display="Model Type">Select A Option</option>
												<option value="1">Option 1</option>
												<option value="2">Option 2</option>
												<option value="3" disabled>Option 3</option>
												<option value="4">Option 4</option>
											</select>
										</div>
									</div>

									<div class="sb_widget sb_additional_options" data-aos="fade-up" data-aos-delay="100">
										<h4 class="input_title">Additional Options:</h4>
										<div class="checkbox_input">
											<label for="child_seat"><input type="checkbox" id="child_seat"> Child seat</label>
										</div>

										<div class="checkbox_input">
											<label for="air_conditioning"><input type="checkbox" id="air_conditioning"> Air conditioning</label>
										</div>

										<div class="checkbox_input">
											<label for="chauffeur_services"><input type="checkbox" id="chauffeur_services"> Chauffeur services</label>
										</div>

										<div class="checkbox_input">
											<label for="winter_equipment"><input type="checkbox" id="winter_equipment"> Winter Equipment</label>
										</div>

										<div class="checkbox_input">
											<label for="premium_sound_system"><input type="checkbox" id="premium_sound_system"> Premium Sound System</label>
										</div>
									</div>

									<hr data-aos="fade-up" data-aos-delay="100">

									<div data-aos="fade-up" data-aos-delay="100">
										<button type="submit" class="custom_btn bg_default_red text-uppercase">Clear Filters <img src="{% static 'assets/images/icons/icon_01.png' %}" alt="icon_not_found"></button>
									</div>
								</form>
							</div>
						</aside>
					</div>

					<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
						<div class="car_choose_carousel mb_30 clearfix">
							<div class="thumbnail_carousel" data-aos="fade-up" data-aos-delay="100">
								<div class="item">
									<div class="item_head">
										<h4 class="item_title mb-0">Infiniti Q50 2018</h4>
										<ul class="review_text ul_li_right clearfix">
											<li class="text-right">
												<strong>Super</strong>
												<small>24+ Reviews</small>
											</li>
											<li><span class="bg_default_blue">4.8/5</span></li>
										</ul>
									</div>
									<img src="{% static 'assets/images/gallery/img_07.jpg' %}" alt="image_not_found">
									<ul class="btns_group ul_li_center clearfix">
										<li>
											<span class="custom_btn btn_width bg_default_blue"><del>$800/Day</del> $400/Day</span>
										</li>
										<li>
											<a href="#!" class="custom_btn btn_width bg_default_red text-uppercase">Book A Car <img src="{% static 'assets/images/icons/icon_01.png' %}" alt="icon_not_found"></a>
										</li>
									</ul>
								</div>

								<div class="item">
									<div class="item_head">
										<h4 class="item_title mb-0">Infiniti Q50 2018</h4>
										<ul class="review_text ul_li_right clearfix">
											<li class="text-right">
												<strong>Super</strong>
												<small>24+ Reviews</small>
											</li>
											<li><span class="bg_default_blue">4.8/5</span></li>
										</ul>
									</div>
									<img src="{% static 'assets/images/gallery/img_07.jpg' %}" alt="image_not_found">
									<ul class="btns_group ul_li_center clearfix">
										<li>
											<span class="custom_btn btn_width bg_default_blue"><del>$800/Day</del> $400/Day</span>
										</li>
										<li>
											<a href="#!" class="custom_btn btn_width bg_default_red text-uppercase">Book A Car <img src="{% static 'assets/images/icons/icon_01.png' %}" alt="icon_not_found"></a>
										</li>
									</ul>
								</div>

								<div class="item">
									<div class="item_head">
										<h4 class="item_title mb-0">Infiniti Q50 2018</h4>
										<ul class="review_text ul_li_right clearfix">
											<li class="text-right">
												<strong>Super</strong>
												<small>24+ Reviews</small>
											</li>
											<li><span class="bg_default_blue">4.8/5</span></li>
										</ul>
									</div>
									<img src="{% static 'assets/images/gallery/img_07.jpg' %}" alt="image_not_found">
									<ul class="btns_group ul_li_center clearfix">
										<li>
											<span class="custom_btn btn_width bg_default_blue"><del>$800/Day</del> $400/Day</span>
										</li>
										<li>
											<a href="#!" class="custom_btn btn_width bg_default_red text-uppercase">Book A Car <img src="{% static 'assets/images/icons/icon_01.png' %}" alt="icon_not_found"></a>
										</li>
									</ul>
								</div>

								<div class="item">
									<div class="item_head">
										<h4 class="item_title mb-0">Infiniti Q50 2018</h4>
										<ul class="review_text ul_li_right clearfix">
											<li class="text-right">
												<strong>Super</strong>
												<small>24+ Reviews</small>
											</li>
											<li><span class="bg_default_blue">4.8/5</span></li>
										</ul>
									</div>
									<img src="{% static 'assets/images/gallery/img_07.jpg' %}" alt="image_not_found">
									<ul class="btns_group ul_li_center clearfix">
										<li>
											<span class="custom_btn btn_width bg_default_blue"><del>$800/Day</del> $400/Day</span>
										</li>
										<li>
											<a href="#!" class="custom_btn btn_width bg_default_red text-uppercase">Book A Car <img src="{% static 'assets/images/icons/icon_01.png' %}" alt="icon_not_found"></a>
										</li>
									</ul>
								</div>

								<div class="item">
									<div class="item_head">
										<h4 class="item_title mb-0">Infiniti Q50 2018</h4>
										<ul class="review_text ul_li_right clearfix">
											<li class="text-right">
												<strong>Super</strong>
												<small>24+ Reviews</small>
											</li>
											<li><span class="bg_default_blue">4.8/5</span></li>
										</ul>
									</div>
									<img src="{% static 'assets/images/gallery/img_07.jpg' %}" alt="image_not_found">
									<ul class="btns_group ul_li_center clearfix">
										<li>
											<span class="custom_btn btn_width bg_default_blue"><del>$800/Day</del> $400/Day</span>
										</li>
										<li>
											<a href="#!" class="custom_btn btn_width bg_default_red text-uppercase">Book A Car <img src="{% static 'assets/images/icons/icon_01.png' %}" alt="icon_not_found"></a>
										</li>
									</ul>
								</div>

								<div class="item">
									<div class="item_head">
										<h4 class="item_title mb-0">Infiniti Q50 2018</h4>
										<ul class="review_text ul_li_right clearfix">
											<li class="text-right">
												<strong>Super</strong>
												<small>24+ Reviews</small>
											</li>
											<li><span class="bg_default_blue">4.8/5</span></li>
										</ul>
									</div>
									<img src="{% static 'assets/images/gallery/img_07.jpg' %}" alt="image_not_found">
									<ul class="btns_group ul_li_center clearfix">
										<li>
											<span class="custom_btn btn_width bg_default_blue"><del>$800/Day</del> $400/Day</span>
										</li>
										<li>
											<a href="#!" class="custom_btn btn_width bg_default_red text-uppercase">Book A Car <img src="{% static 'assets/images/icons/icon_01.png' %}" alt="icon_not_found"></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="thumbnail_carousel_nav" data-aos="fade-up" data-aos-delay="100">
								<div class="item">
									<img src="{% static 'assets/images/gallery/child_01.jpg' %}" alt="image_not_found">
								</div>
								<div class="item">
									<img src="{% static 'assets/images/gallery/child_02.jpg' %}" alt="image_not_found">
								</div>
								<div class="item">
									<img src="{% static 'assets/images/gallery/child_03.jpg' %}" alt="image_not_found">
								</div>
								<div class="item">
									<img src="{% static 'assets/images/gallery/child_04.jpg' %}" alt="image_not_found">
								</div>
								<div class="item">
									<img src="{% static 'assets/images/gallery/child_01.jpg' %}" alt="image_not_found">
								</div>
								<div class="item">
									<img src="{% static 'assets/images/gallery/child_02.jpg' %}" alt="image_not_found">
								</div>
							</div>
						</div>

						<div class="car_choose_content">
							<ul class="info_list ul_li_block mb_15 clearfix" data-aos="fade-up" data-aos-delay="100">
								<li><strong>Passengers:</strong> 4</li>
								<li><strong>Suitcase:</strong> 1 Large, 2 Small</li>
								<li><strong>Doors:</strong> 2</li>
								<li><strong>Engine:</strong> 3.9L V8 32V GDI DOHC Twin Turbo</li>
								<li><strong>Fuel Type:</strong> Gasoline, Premium unleaded</li>
								<li><strong>Options:</strong> Cruise Control, MP3 player, Automatic air conditioning, Wifi, GPS Navigation</li>
							</ul>
							<div data-aos="fade-up" data-aos-delay="200">
								<a class="terms_condition" href="#!"><i class="fas fa-info-circle mr-1"></i> Terms and conditions</a>
							</div>

							<hr data-aos="fade-up" data-aos-delay="300">

							<div class="rent_details_info">
								<h4 class="list_title" data-aos="fade-up" data-aos-delay="100">Rent Details:</h4>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<ul class="info_list ul_li_block mb_15 clearfix" data-aos="fade-up" data-aos-delay="200">
											<li><i class="fas fa-id-card"></i> Payment Guarantee</li>
											<li><i class="fas fa-business-time"></i> Protect Your Rental</li>
											<li><i class="fas fa-business-time"></i> Receipt by Email</li>
										</ul>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<ul class="info_list ul_li_block mb_15 clearfix" data-aos="fade-up" data-aos-delay="300">
											<li><i class="fas fa-user-friends"></i> Car Sharing</li>
											<li><i class="fas fa-language"></i> Multilanguage Support</li>
											<li><i class="fas fa-money-bill"></i> Payment Options</li>
										</ul>
									</div>
								</div>
							</div>

							<hr data-aos="fade-up" data-aos-delay="100">

							<div class="testimonial_contants_wrap">
								<h3 class="item_title mb_30" data-aos="fade-up" data-aos-delay="100">Recent Reviews:</h3>

								<div class="testimonial_item clearfix">
									<div class="admin_info_wrap clearfix" data-aos="fade-up" data-aos-delay="200">
										<div class="admin_image">
											<img src="{% static 'assets/images/meta/img_01.png' %}" alt="image_not_found">
										</div>
										<div class="admin_content">
											<h4 class="admin_name">Donovan Nordtrom</h4>
											<ul class="rating_star ul_li clearfix">
												<li class="active"><i class="fas fa-star"></i></li>
												<li class="active"><i class="fas fa-star"></i></li>
												<li class="active"><i class="fas fa-star"></i></li>
												<li class="active"><i class="fas fa-star"></i></li>
												<li><i class="fas fa-star"></i></li>
											</ul>
										</div>
									</div>
									<p class="mb-0" data-aos="fade-up" data-aos-delay="300">
										“Ut id lobortis eros, sed finibus dui. Cras eget purus lacus. Suspendisse sodales massa quis turpis ultrices ultricies. Cras euismod eros at vehicula sagittis. Suspendisse condimentum tortor nec enim pellentesque feugiat. Nulla tempor urna vitae sapien iaculis, auctor condimentum enim auctor”
									</p>
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
											<div class="review_image" data-aos="fade-up" data-aos-delay="100">
												<img src="{% static 'assets/images/testimonial/img_10.jpg' %}" alt="image_not_found">
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
											<div class="review_image" data-aos="fade-up" data-aos-delay="200">
												<img src="{% static 'assets/images/testimonial/img_11.jpg' %}" alt="image_not_found">
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
											<div class="review_image" data-aos="fade-up" data-aos-delay="300">
												<img src="{% static 'assets/images/testimonial/img_12.jpg' %}" alt="image_not_found">
											</div>
										</div>
									</div>
								</div>

								<div class="testimonial_item clearfix">
									<div class="admin_info_wrap clearfix" data-aos="fade-up" data-aos-delay="100">
										<div class="admin_image">
											<img src="{% static 'assets/images/meta/img_01.png' %}" alt="image_not_found">
										</div>
										<div class="admin_content">
											<h4 class="admin_name">Elisabeth Summers</h4>
											<ul class="rating_star ul_li clearfix">
												<li class="active"><i class="fas fa-star"></i></li>
												<li class="active"><i class="fas fa-star"></i></li>
												<li class="active"><i class="fas fa-star"></i></li>
												<li class="active"><i class="fas fa-star"></i></li>
												<li><i class="fas fa-star"></i></li>
											</ul>
										</div>
									</div>
									<p class="mb-0" data-aos="fade-up" data-aos-delay="200">
										“Ut id lobortis eros, sed finibus dui. Cras eget purus lacus. Suspendisse sodales massa quis turpis ultrices ultricies. Cras euismod eros at vehicula sagittis. Suspendisse condimentum tortor nec enim pellentesque feugiat. Nulla tempor urna vitae sapien iaculis, auctor condimentum enim auctor”
									</p>
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
											<div class="review_image" data-aos="fade-up" data-aos-delay="100">
												<img src="{% static 'assets/images/testimonial/img_13.jpg' %}" alt="image_not_found">
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
											<div class="review_image" data-aos="fade-up" data-aos-delay="200">
												<img src="{% static 'assets/images/testimonial/img_14.jpg' %}" alt="image_not_found">
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
											<div class="review_image" data-aos="fade-up" data-aos-delay="300">
												<img src="{% static 'assets/images/testimonial/img_15.jpg' %}" alt="image_not_found">
											</div>
										</div>
									</div>
								</div>

								<div class="links_erap clearfix">
									<div class="row align-items-center justify-content-lg-between">
										<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
											<div class="abtn_wrap clearfix" data-aos="fade-up" data-aos-delay="100">
												<a class="text_btn text-uppercase" href="#!"><span>View All Reviews</span> <img src="{% static 'assets/images/icons/icon_02.png' %}" alt="icon_not_found"></a>
											</div>
										</div>
										<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
											<ul class="primary_social_links ul_li_right clearfix" data-aos="fade-up" data-aos-delay="200">
												<li><span class="social_list_title">Follow Us:</span></li>
												<li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="#!"><i class="fab fa-youtube"></i></a></li>
												<li><a href="#!"><i class="fab fa-instagram"></i></a></li>
												<li><a href="#!"><i class="fab fa-twitter"></i></a></li>
												<li><a href="#!"><i class="fas fa-envelope"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- details_section - end
		================================================== -->


		<!-- cars_section - start
		================================================== -->
		<section class="cars_section sec_ptb_100 clearfix">
			<div class="offers_car_carousel slideshow4_slider" data-aos="fade-up" data-aos-delay="100">
				<div class="item">
					<div class="gallery_fullimage_2">
						<img src="{% static 'assets/images/gallery/img_03.jpg' %}" alt="image_not_found">
						<div class="item_content text-white">
							<span class="item_price bg_default_blue">$670/Day</span>
							<h3 class="item_title text-white">Phasellus porta pulvinar metus</h3>
							<a class="text_btn text-uppercase" href="#!"><span>Kook A Car</span> <img src="{% static 'assets/images/icons/icon_02.png' %}" alt="icon_not_found"></a>
						</div>
					</div>
				</div>

				<div class="item">
					<div class="gallery_fullimage_2">
						<img src="{% static 'assets/images/gallery/img_04.jpg' %}" alt="image_not_found">
						<div class="item_content text-white">
							<span class="item_price bg_default_blue">$670/Day</span>
							<h3 class="item_title text-white">Phasellus porta pulvinar metus</h3>
							<a class="text_btn text-uppercase" href="#!"><span>Kook A Car</span> <img src="{% static 'assets/images/icons/icon_02.png' %}" alt="icon_not_found"></a>
						</div>
					</div>
				</div>

				<div class="item">
					<div class="gallery_fullimage_2">
						<img src="{% static 'assets/images/gallery/img_05.jpg' %}" alt="image_not_found">
						<div class="item_content text-white">
							<span class="item_price bg_default_blue">$670/Day</span>
							<h3 class="item_title text-white">Phasellus porta pulvinar metus</h3>
							<a class="text_btn text-uppercase" href="#!"><span>Kook A Car</span> <img src="{% static 'assets/images/icons/icon_02.png' %}" alt="icon_not_found"></a>
						</div>
					</div>
				</div>

				<div class="item">
					<div class="gallery_fullimage_2">
						<img src="{% static 'assets/images/gallery/img_06.jpg' %}" alt="image_not_found">
						<div class="item_content text-white">
							<span class="item_price bg_default_blue">$670/Day</span>
							<h3 class="item_title text-white">Phasellus porta pulvinar metus</h3>
							<a class="text_btn text-uppercase" href="#!"><span>Kook A Car</span> <img src="{% static 'assets/images/icons/icon_02.png' %}" alt="icon_not_found"></a>
						</div>
					</div>
				</div>

				<div class="item">
					<div class="gallery_fullimage_2">
						<img src="{% static 'assets/images/gallery/img_03.jpg' %}" alt="image_not_found">
						<div class="item_content text-white">
							<span class="item_price bg_default_blue">$670/Day</span>
							<h3 class="item_title text-white">Phasellus porta pulvinar metus</h3>
							<a class="text_btn text-uppercase" href="#!"><span>Kook A Car</span> <img src="{% static 'assets/images/icons/icon_02.png' %}" alt="icon_not_found"></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- cars_section - end
		================================================== -->


	</main>
	<!-- main body - end
	================================================== -->
{% endblock main %}